body {
    text-align: center;
}


canvas {
    border: solid 1px #000;
}
div #main {
    position: absolute;
    top: 50px;
    left: 50 px;

}

test {
    color: #44d728;
    color: #ff0000;
    color: #8b4513;
}